TZ=UTC
PORT=3333
HOST=localhost
APP_URL=http://${HOST}:${PORT}
LOG_LEVEL=info
APP_KEY=
NODE_ENV=development
SESSION_DRIVER=cookie
DRIVE_DISK=fs
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=root
DB_PASSWORD=root
DB_DATABASE=app
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET=
AWS_PUBLIC_ACCESS_URL=
CACHE_STORE=default
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
GEOCODING_API_KEY=
QUEUE_DRIVER=redis
MAIL_MAILER=smtp
MAIL_FROM_NAME=Your name
MAIL_FROM_ADDRESS=app@yourdomain.com
SMTP_HOST=localhost
SMTP_PORT=1025